/* Universal Box Model Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    --primary-color: #04ffe2;
    --secondary-color: #055b7c;
    --accent-color: #d3421e;
    --font-stack: 'Open Sans', sans-serif;
    --heading-size: 2rem;
    --body-size: 1rem;
}

/* Navigation */
nav {
    background-color: var(--secondary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

/* Headings */
h1 {
    color: var(--secondary-color);
    font-size: var(--heading-size);
    font-family: var(--font-stack);
}

/* Paragraphs */
p {
    padding: 10px;
    font-size: var(--body-size);
    font-family: var(--font-stack);
}

/* Main Image (profile) */
main img {
    width: 150px;
    height: auto;
    border: rgb(0 0 0 / 10%);
    padding: 0%;
    float: right;
    margin-left: 1rem;
    box-shadow: none;
}

main {
    max-width: none;
}

/* Aside Image (Cristo Redentor) */
aside {
    width: 25rem;
    height: 15rem;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    top: 1rem;
    left: 12.5rem;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem;
}

aside img {
    width: 200px;
    height: auto;
    float: right;
    margin-left: 5rem;
}

/* Footer */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}